<div *ngIf="patient">
  <h1>{{patient.firstName + " " + patient.lastName}}</h1>
  <p>CNP: {{patient.cnp}}</p>
  <p>Adresa: {{patient.address}}</p>
</div>

<button type="submit" class="btn btn-primary mb-2" (click)="gotoHome()">Salveaza reteta</button>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center border distancer" *ngFor="let medication of medications">
    <app-table-element
      [medication]="medication"
      [added]="true"
    ></app-table-element>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center border distancer">
    <app-table-element
      (medicationEmitter)="addMed($event)"
      [added]="false"
    ></app-table-element>
  </li>
</ul>
