<ul class="list-group">
  <input class="form-control mr-sm-2 bg-light text-dark" type="search" placeholder="Cauta un pacient dupa CNP"
         [(ngModel)]="searchValue"
         (search)="filterPatients()" aria-label="Search">

  <br>
  <div *ngIf="error" class="alert alert-warning" role="alert">
    Nu am gasit niciun pacient!
  </div>
  <br>

  <li class="list-group-item d-flex justify-content-between align-items-center border distancer" (click)="goto(patient)"
      *ngFor="let patient of patients">
    <app-patient-component [patient]="patient"></app-patient-component>
    <img class="selection-arrow border-left padd" src="../../../assets/images/next.svg"/>
  </li>
</ul>
